body {
  background: radial-gradient(#666, #333);
}
#pics1 img {
  width: 300px;
  height: auto;
  border-radius: 10px 20px;

  padding: 10px;
}

#pics2 img {
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 9px 17px;
}

#pics3 img {
  width: 300px;
  padding: 10px;
  height: auto;
  border-radius: 9px 17px;
}

#cf3 {
  position: relative;
  height: 281px;
  width: 450px;
  margin: 0 auto;
}

#cf3 img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@media screen and (max-width: 739px) {
  body {
    margin: 0px;
    padding: 0px;
  }
}
